{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">
                    {% if user %}
                        {% set username, email = user.username, user.email %}
                        Update: {{ username }}
                    {% else %}
                        Create user
                        {% set username, email = '', '' %}
                    {% endif %}
                </h5>
                <div class="card-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        {% import "bootstrap/wtf.html" as wtf %}
                        {{ wtf.form_field(form.username) }}
                        {{ wtf.form_field(form.email) }}
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}